.payment-method-container
{
	font-weight: normal;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizelegibility;
	margin:30px auto;
	max-width:450px;
 
	
}



.payment-method-box {
 
  
  
 
  
    zoom: 1;
	border: 1px solid rgb(217, 217, 217);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    margin-bottom: 1.5em;
	border-top:none;
}

.payment-method
{
	  border-top: 1px solid rgb(230, 230, 230);
	   
}

.payment-method label
{
	 padding: 12px 1.1em;
	 width:100%;
	 box-sizing: border-box;
}

.payment-method label:hover
{
  cursor: pointer;
  background: #fafafe;
}

.payment-method input[type=checkbox]:not(old),
.payment-method input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  display: none;

}

.payment-method input[type=checkbox]:not(old) + label,
.payment-method input[type=radio   ]:not(old) + label{
  display      : inline-block;
 
  line-height  : 40px;
	
 
}

.payment-method input[type=checkbox]:not(old) + label > span,
.payment-method input[type=radio   ]:not(old) + label > span{
  float: left;
  display          : inline-block;
  width            : 18px;
  height           : 18px;
  margin-top: 12px ;
  margin-right: 20px;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

.payment-method input[type=checkbox]:not(old):checked + label > span,
.payment-method input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

.payment-method input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

.payment-method input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  float: left;

  width            : 10px;
  height           : 10px;
  margin           : 3px;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.payment-method label
{
  position: relative;
}


.payment-method label i.payment-logo
{
  float: right;
  height: 40px;
  width: 40px;
  margin-left: 8px;
  

}

.payment-method label i.payment-image 
{
 
   display: inline-block;
    height: 100%;
    vertical-align: middle;
    overflow: auto;
}


.payment-method label i.mastercard
{
  background: url('images/mastercard.png');
  background-size: contain;
}


.payment-method label i.visa
{
  background: url('images/visa.png');
  background-size: contain;
}


.payment-method label i.paystack
{
  background: url('images/paystack.png');
  background-size: contain;
  display: block;
}

.payment-method label i.payment-text
{
  font-style: normal;
  font-size: .9em;
  font-weight: bold;
  color: #777;
  
}

.payment-method label i img
{
  float: left;
  vertical-align:middle
}

.payment-method input[type="radio"]:checked+label i.payment-text{ 
  
  color: #000; 
} 

.payment-btn{
    
    display: inline-block;
    box-sizing: border-box;
    padding: 1.25em;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    font-size: 1rem;
    -webkit-transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,border-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out,background-color 0.2s ease-in-out,border-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
    background-color: #2a9dcc;
    color: #fff;
}
.payment-btn:hover
{
  background: #2a7dbc;
}

.payment-method-inner 
{
     background-color: #fafafa;
     padding: 20px;
     font-size: 13px;
      border-top: 1px solid rgb(240, 240, 240);
}


.payment-method table {
  
  background:#eaebec;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
  width: 100%;
}

.payment-method table th {
  padding:11px 15px 12px 15px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  text-align: left;
  border-left: 1px solid #d0d0d0;
 }

.payment-method table tr {
  text-align: center;
  padding-left:20px;
}

.payment-method table td:first-child {
  text-align: left;
  padding-left:20px;
  border-left: 0;
}

.payment-method table th:first-child
{
  border-left: 0;
}
.payment-method table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
text-align: left;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

.payment-method input[type=tel]
{
  border:1px solid #ccc;
  padding: 12px 8px;
  margin: 5px 0 ;
  outline: none;
  min-width: 100px;

}

.sms 
{
  margin-top: 20px;
  overflow: auto;
}

.sms span
{
  display: block;}

.sms input
{
 
  float: left;
  margin-right: 20px;
}

.payment-btn.small-btn 
{
  float: left;
  width: 100px;
padding: 10px;
font-size: 13px;
background: #ccc;
color: #333;
  margin: 5px 0 5px 10px ;
}

.payment-method-inner
{
  display: none;
}

@media (max-width: 500px) {
.payment-method label i.paystack
{
  display: none;
}
}

